.resCont {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100vw;
}
.reservation {
  display: flex;
  justify-content: center;
}

.column {
  flex: 0 1 20%;
}

.reservationList {
  list-style: none;
  background-color: #1b1c1d;
  color: white;
  padding: 0;
  margin: 0;
}

.listItem {
  padding: 1rem;
  text-align: center;
  transition: all 0.2s;
}

.listItem:hover {
  background-color: white;
  color: #1b1c1d;
}

.listItem h3 {
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
}

select.ui.dropdown {
  margin: 2rem 0;
  font-size: 1.5rem;
  padding: 1rem;
  box-sizing: content-box;
}

div.ui.segments.container {
  margin: 2rem 0;
}

.reserved{
  background-color: #a5a5a557;
}
.reserved:hover {
  color: white;
}